# Basic .gitattributes for a python repo.
*           text eol=lf
# Source files
# ============
*.bash		 text eol=lf
*.yml        text eol=lf
*.md        text eol=lf

# Binary files
# ============
# *.db		binary


# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).